@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Boldonse&family=Bungee+Spice&display=swap');

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 500;
    letter-spacing: 5px;
    font-style: normal;
    font-size: 30px;
  }
  